<pl-question-panel>
<markdown>
 
</markdown>
</pl-question-panel>

<pl-checkbox answers-name="ans" number-answers="5" min-correct="2" max-correct="2" partial-credit="true">
  <pl-answer correct="true"><markdown>   </markdown></pl-answer>
  <pl-answer correct="true"><markdown>   </markdown></pl-answer>
  <pl-answer correct="true"><markdown>   </markdown></pl-answer>
  <pl-answer               ><markdown>   </markdown></pl-answer>
  <pl-answer               ><markdown>   </markdown></pl-answer>
  <pl-answer               ><markdown>   </markdown></pl-answer>
  <pl-answer               ><markdown>   </markdown></pl-answer>
</pl-checkbox>
