<pl-question-panel>
<markdown>
 
</markdown>
</pl-question-panel>

<pl-multiple-choice answers-name="ans" number-answers="4">
  <pl-answer correct="true"><markdown>   </markdown></pl-answer>
  <pl-answer               ><markdown>   </markdown></pl-answer>
  <pl-answer               ><markdown>   </markdown></pl-answer>
  <pl-answer               ><markdown>   </markdown></pl-answer>
  <pl-answer               ><markdown>   </markdown></pl-answer>
  <pl-answer               ><markdown>   </markdown></pl-answer>
</pl-multiple-choice>
